* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.button {
  width: 70px;
  font-size: 17px;
  height: 35px;
  border: 2px solid #fcc822;
  cursor: pointer;
}
h3 {
  font-size: 55px;
}
